<html>

<body>
  <section class="section">
    <button>Learn more</button>
  </section>
  <article class="article">
    <h4>Subheading</h4>
  </article>
  <aside>
    <h4>Subheading</h4>
    <button><%= link_to "Learn more", about_path %></button>
  </aside>
  <footer>
  </footer>
</body>

</html>